Amagua Sacón Robyn Willian <ramaguas@uteq.edu.ec>
Vera Gómez Anthony Alfredo <averag10@uteq.edu.ec>
Vera Gómez Anthony Alfredo <averag10@uteq.edu.ec> <anthonyveragomez@gmail.com>
Mesias Quijije Jhon Alexander <jmesiasq@msuteq.edu.ec>
Mesias Quijije Jhon Alexander <jmesiasq@msuteq.edu.ec> <mesiasjhon52@gmail.com>
Marcillo Ponce Alberto Jeanpool <amarcillop@uteq.edu.ec>
Barrionuevo Fuentes Carlos Daniel <cbarrionuevof@uteq.edu.ec>
