# --- Marcillo Ponce Alberto Jeanpool  (GitHub: amarcilloPoolgen) ---
Marcillo Ponce Alberto Jeanpool <amarcillop@uteq.edu.ec> amarcilloPoolgen <amarcillop@uteq.edu.ec>

# --- Vera Gómez Anthony Alfredo  (GitHub: averag10) ---
Vera Gómez Anthony Alfredo <averag10@uteq.edu.ec> Anthony Vera <averag10@uteq.edu.ec>
Vera Gómez Anthony Alfredo <averag10@uteq.edu.ec> Anthony Vera <anthonyveragomez@gmail.com>

# --- Barrionuevo Fuentes Carlos Daniel  (GitHub: cdxniel) ---
Barrionuevo Fuentes Carlos Daniel <cbarrionuevof@uteq.edu.ec> cdxniel <cbarrionuevof@uteq.edu.ec>

# --- Amagua Sacón Robyn Willian  (GitHub: ramaguas-ship-it) ---
Amagua Sacón Robyn Willian <ramaguas@uteq.edu.ec> ramaguas-ship-it <ramaguas@uteq.edu.ec>

# --- Mesias Quijije Jhon Alexander  (GitHub: jmesiasq-art) ---
jmesiasq-art <jmesiasq@uteq.edu.ec> JmesiasqUtq <mesiasjhon52@gmail.com>
jmesiasq-art <jmesiasq@uteq.edu.ec> jmesiasq24 <jmesiasq@msuteq.edu.ec>
